<!DOCTYPE html>
<html lang="ru">
<head>

    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <title>{% block title %}{% endblock %}</title>
</head>
<style> body {
        background: #FFDEAD;
        }
        h1 {
        text-indent: 20px;
        }
</style>
<body>
    <header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb -3 bg-white border-bottom">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none"> <img src="static/images/eda1.jpg"></a>
        <h5 class="my-0 mr-md-auto font-weight-normal">ПростоЕда</h5>
        <nav class="my-2 my-md-0 mr-md-3">
          <a class="p-2 text-dark text-decoration-none" href="/">На главную</a>
          <a class="p-2 text-dark text-decoration-none" href="/about">О нас</a>

        </nav>
        <a class="p-2 text-dark text-decoration-none" href="/write-a-review">Оставить отзыв</a>
      </header>


    {% block body %}{% endblock %}

</body>
</html>