{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block body %}
<head>
    <meta charset="UTF-8">
    <title>Русская кухня</title>
<style>
    img {
    margin-left: 20px;
    }
</style>
    <h1 style="margin-bottom: 50px">Русская кухня</h1>
</head>
<body>
<h2 style="margin-left: 30px">Блинчики с мясом</h2>
<img src="static/images/blin.jpg" style="margin-top: 40px">

<a class="btn btn-lg btn-primary" href="/reg" role="button" style="margin-left: 20px">В корзину</a>
</body>
{% endblock %}